# Agricultural Emissions Regression Project

<a id="cont"></a>

## Table of Contents
* <b>[1. Project Overview](#chapter1)
* <b>[2. Importing Packages](#chapter2)
* <b>[3. Loading Data](#chapter3)
* <b>[4. Data Cleaning](#chapter4)
* <b>[5. Exploratory Data Analysis (EDA)](#chapter5)
* <b>[6. Regression Models](#chapter6)
* <b>[7. Conclusion](#chapter7)

## 1. Project Overview <a class="anchor" id="chapter1"></a>

The purpose of this project is to analyze the the dataset, which contains detailed information on Agruu emissions from 2015 to 20231. 


The primary goal is to identify trends and patterns in avocado pricing and sales across different regions and time periods. This analysis is significant as it can provide valuable insights for stakeholders such as farmers, retailers, and policymakers to make informed decisions. The project aims to address specific questions such as the factors influencing price fluctuations, seasonal variations in sales, and the impact of external events on the avocado market. By leveraging this comprehensive dataset, the project sets the stage for a deeper understanding of the avocado market, ultimately contributing to more efficient market strategies and improved supply chain management

For our analysis we will employ  statistical techniques in section 5 Explority Data Analysis (EDA).

The notebook is structured to guide readers through a comprehensive data analysis project. It begins with a Project Overview, which includes an Introduction outlining the context and a Problem Statement to define the issue at hand, followed by the Objectives of the analysis. Next, the Importing Packages section lists the necessary libraries. Loading Data details the process of importing datasets. Data Cleaning addresses how the data is prepared for analysis. The Exploratory Data Analysis (EDA) section provides insights into the data through visualizations and summary statistics. Feature Engineering involves creating new features to improve model performance. The Modeling section describes the algorithms used and their implementation. Model Performance evaluates the effectiveness of the models. The notebook also includes a section on Machine Learning Sprints for further learning, followed by a Conclusion summarizing the findings, and References for sourcing information. 

Through this project, we hope to provide a detailed understanding of the current state of the avocado market, identify challenges and opportunities, and propose actionable recommendations to enhance the efficiency and sustainability of avocado farming.

## 2. Importing Packages <a class="anchor" id="chapter2"></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import csv
from sklearn.linear_model import LinearRegression

---
<a href=#three></a>
## **Loading Data**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Load the data into the notebook for manipulation and analysis.
* **Details:** Show the code used to load the data and display the first few rows to give a sense of what the raw data looks like.
---

## 3. Loading Data <a class="anchor" id="chapter3"></a>

<a href=#two></a>
## **Data Collection and Description**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Describe how the data was collected and provide an overview of its characteristics.
* **Details:** Mention sources of the data, the methods used for collection (e.g., APIs, web scraping, datasets from repositories), and a general description of the dataset including size, scope, and types of data available (e.g., numerical, categorical).
---

The dataset titled "Avocado Prices and Sales Volume 2015-2023" was collected from Kaggle, a well-known platform for data science and machine learning datasets¹. The data was gathered using various methods, including web scraping and APIs, to compile comprehensive information on avocado prices and sales volumes across multiple U.S. markets. This dataset spans from 2015 to 2023 and includes both numerical and categorical data. The numerical data covers aspects such as average prices, total volume, and type of avocado (conventional or organic), while the categorical data includes regions and dates. The dataset is extensive, providing a detailed view of market trends over an eight-year period¹.

¹: [Kaggle - Avocado Prices and Sales Volume 2015-2023](https://www.kaggle.com/datasets/vakhariapujan/avocado-prices-and-sales-volume-2015-2023)

Source: Conversation with Copilot, 2024/09/15
(1) Avocado Prices and Sales Volume 2015-2023 - Kaggle. https://www.kaggle.com/datasets/vakhariapujan/avocado-prices-and-sales-volume-2015-2023.
(2) Kaggle: Your Home for Data Science. https://www.kaggle.com/datasets/vakhariapujan/avocado-prices-and-sales-volume-2015-2023/download?datasetVersionNumber=3.
(3) The Price and Sales of Avocado - Kaggle. https://www.kaggle.com/datasets/alanluo418/avocado-prices-20152019.
(4) undefined. https://www.kaggle.com/static/assets/app.js?v=ee89c9be8cfec5b47292:2:2059285.
(5) undefined. https://www.kaggle.com/static/assets/app.js?v=ee89c9be8cfec5b47292:2:2056226.
(6) undefined. https://www.kaggle.com/static/assets/app.js?v=ee89c9be8cfec5b47292:2:2056331%29.
(7) undefined. https://www.kaggle.com/static/assets/app.js?v=ee89c9be8cfec5b47292:2:2054570%29.
(8) undefined. https://www.kaggle.com/static/assets/app.js?v=ee89c9be8cfec5b47292:2:2054773%29.

In [2]:
df = pd.read_csv("co2_emissions_from_agri.csv", index_col=False)

---
<a href=#four></a>
## **Data Cleaning and Filtering**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Prepare the data for analysis by cleaning and filtering.
* **Details:** Include steps for handling missing values, removing outliers, correcting errors, and possibly reducing the data (filtering based on certain criteria or features).
---
The Dataset contains 53415 rows of made up of :
* 12 Columns of which:

* 9 are float64 containing numerical data, of which
* 9 are formatted with two decimal place
* 2 are object, containing text - type and region
* 1 is an object containing a date field

From the above we conclude most of the data is numerical, with the type and region being categorical, and the date being categorical

A check_for_null_values() function is used to display a count of null (missing / nan) values per column. It uses isnull() to return True for each null value found in the dataframe. The sum() function totals the number of these null values for each column. The columns and number of missing values are assigned to the missing_values Series object. The any() function is used to check if the missing_values series contains any values.

The dataframe contains the following null values
* SmallBags has 12390 null values
* LargeBags has 12390 null values
* XLargeBags has 12390 null values

A count_duplicate_rows is used to check for duplicate rows. count_duplicate_row()` function returns True for each duplicated row found in the dataframe. The number of true values are summed and if duplicated rows exist the rows are displayed.

The dataframe contains no duplicated rows.

It was noted that all the float64 columns contained values = -1. It is good practice to replace the "-1" values with "nan" so that pandas can use statistical functions accurately on the columns.

Number of Years: 9
Min year: 2015
Max year: 2023

In [ ]:
# displays information on the dataset that  will be used to train the model
df.info()
# displays unlimited number of columns
pd.set_option("display.max_columns", None)
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6965 entries, 0 to 6964
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Area                             6965 non-null   object
 1   Year                             6965 non-null   int64
 2   Savanna fires                    6934 non-null   float64
 3   Forest fires                     6872 non-null   float64
 4   Crop Residues                    5576 non-null   float64
 5   Rice Cultivation                 6965 non-null   float64
 6   Drained organic soils (CO2)      6965 non-null   float64
 7   Pesticides Manufacturing         6965 non-null   float64
 8   Food Transport                   6965 non-null   float64
 9   Forestland                       6472 non-null   float64
 10  Net Forest conversion            6472 non-null   float64
 11  Food Household Consumption       6492 non-null   float64
 12  Food Retail                      6965 non-null   float64
 13  On-farm Electricity Use          6965 non-null   float64
 14  Food Packaging                   6965 non-null   float64
 15  Agrifood Systems Waste Disposal  6965 non-null   float64
 16  Food Processing                  6965 non-null   float64
 17  Fertilizers Manufacturing        6965 non-null   float64
 18  IPPU                             6222 non-null   float64
 19  Manure applied to Soils          6037 non-null   float64
 20  Manure left on Pasture           6965 non-null   float64
 21  Manure Management                6037 non-null   float64
 22  Fires in organic soils           6965 non-null   float64
 23  Fires in humid tropical forests  6810 non-null   float64
 24  On-farm energy use               6009 non-null   float64
 25  Rural population                 6965 non-null   float64
 26  Urban population                 6965 non-null   float64
 27  Total Population - Male          6965 non-null   float64
 28  Total Population - Female        6965 non-null   float64
 29  total_emission                   6965 non-null   float64
 30  Average Temperature °C           6965 non-null   float64
dtypes: float64(29), int64(1), object(1)
memory usage: 1.6+ MB

,Area,Year,Savanna fires,Forest fires,Crop Residues,Rice Cultivation,Drained organic soils (CO2),Pesticides Manufacturing,Food Transport,Forestland,Net Forest conversion,Food Household Consumption,Food Retail,On-farm Electricity Use,Food Packaging,Agrifood Systems Waste Disposal,Food Processing,Fertilizers Manufacturing,IPPU,Manure applied to Soils,Manure left on Pasture,Manure Management,Fires in organic soils,Fires in humid tropical forests,On-farm energy use,Rural population,Urban population,Total Population - Male,Total Population - Female,total_emission,Average Temperature °C
0,Afghanistan,1990,14.7237,0.0557,205.6077,686.0000,0.0,11.807483,63.1152,-2388.8030,0.0000,79.0851,109.6446,14.2666,67.631366,691.7888,252.21419,11.997000,209.9778,260.1431,1590.5319,319.1763,0.0,0.0,NaN,9655167.0,2593947.0,5348387.0,5346409.0,2198.963539,0.536167
1,Afghanistan,1991,14.7237,0.0557,209.4971,678.1600,0.0,11.712073,61.2125,-2388.8030,0.0000,80.4885,116.6789,11.4182,67.631366,710.8212,252.21419,12.853900,217.0388,268.6292,1657.2364,342.3079,0.0,0.0,NaN,10230490.0,2763167.0,5372959.0,5372208.0,2323.876629,0.020667
2,Afghanistan,1992,14.7237,0.0557,196.5341,686.0000,0.0,11.712073,53.3170,-2388.8030,0.0000,80.7692,126.1721,9.2752,67.631366,743.6751,252.21419,13.492900,222.1156,264.7898,1653.5068,349.1224,0.0,0.0,NaN,10995568.0,2985663.0,6028494.0,6028939.0,2356.304229,-0.259583
3,Afghanistan,1993,14.7237,0.0557,230.8175,686.0000,0.0,11.712073,54.3617,-2388.8030,0.0000,85.0678,81.4607,9.0635,67.631366,791.9246,252.21419,14.055900,201.2057,261.7221,1642.9623,352.2947,0.0,0.0,NaN,11858090.0,3237009.0,7003641.0,7000119.0,2368.470529,0.101917
4,Afghanistan,1994,14.7237,0.0557,242.0494,705.6000,0.0,11.712073,53.9874,-2388.8030,0.0000,88.8058,90.4008,8.3962,67.631366,831.9181,252.21419,15.126900,182.2905,267.6219,1689.3593,367.6784,0.0,0.0,NaN,12690115.0,3482604.0,7733458.0,7722096.0,2500.768729,0.372250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6960,Zimbabwe,2016,1190.0089,232.5068,70.9451,7.4088,0.0,75.000000,251.1465,76500.2982,10662.4408,251.2681,443.0872,428.4352,22.910800,1077.2392,317.07440,2585.080847,858.9820,96.1332,2721.1459,282.5994,0.0,0.0,417.3150,10934468.0,5215894.0,6796658.0,7656047.0,98491.026347,1.120250
6961,Zimbabwe,2017,1431.1407,131.1324,108.6262,7.9458,0.0,67.000000,255.7975,76500.2982,10662.4408,203.1236,445.3881,304.7852,18.985700,1093.3441,332.77590,1227.240253,889.4250,81.2314,2744.8763,255.5900,0.0,0.0,398.1644,11201138.0,5328766.0,6940631.0,7810471.0,97159.311553,0.046500
6962,Zimbabwe,2018,1557.5830,221.6222,109.9835,8.1399,0.0,66.000000,327.0897,76500.2982,10662.4408,211.1539,492.8599,346.8512,19.057000,1108.5523,348.51070,1127.687805,966.2650,81.0712,2790.0949,257.2735,0.0,0.0,465.7735,11465748.0,5447513.0,7086002.0,7966181.0,97668.308205,0.516333
6963,Zimbabwe,2019,1591.6049,171.0262,45.4574,7.8322,0.0,73.000000,290.1893,76500.2982,10662.4408,228.6381,542.5922,350.2168,17.951400,1121.3255,327.82090,2485.528399,945.9420,85.7211,2828.7215,267.5224,0.0,0.0,444.2335,11725970.0,5571525.0,7231989.0,8122618.0,98988.062799,0.985667
6964,Zimbabwe,2020,481.9027,48.4197,108.3022,7.9733,0.0,73.000000,238.7639,76500.2982,10662.4408,213.9211,568.0445,350.2168,16.675400,1134.1634,307.41450,1227.240253,940.4200,85.3143,2829.7457,266.7316,0.0,0.0,444.2335,11980005.0,5700460.0,7385220.0,8284447.0,96505.221853,0.189000

## 4. Data Cleaning <a class="anchor" id="chapter4"></a>

In [ ]:
# missing values
# df.isnull().sum()

# duplicated rows - none
# df.duplicated().sum()


#Please use code cells to code in and do not forget to comment your code.
df_copy = df.copy()
df_copy.shape
df_copy.info()


# Data Cleaning
def check_null_values(df_copy):
    """
    Print the count of null values for each column in a DataFrame.

    This function iterates through each column in the DataFrame to check for the presence of null values.
    If a column contains null values, it prints the column name along with the number of null values.

    Parameters:
    df (DataFrame): The pandas DataFrame to check for null values.

    Returns:
    None: This function does not return a value; it only prints information.
    """
    for column in df_copy:
        if df_copy[column].isnull().any():
            print('{0} has {1} null values'.format(column, df_copy[column].isnull().sum()))

# run null check
check_null_values(df_copy)
#check dup
def count_duplicate_rows(df_copy):
    """
    Count the number of duplicate rows in a DataFrame.

    This function calculates the total number of duplicate rows in the DataFrame by calling the `duplicated` method,
    which marks duplicates as `True`, and then sums these cases.

    Parameters:
    df_copy (pandas.DataFrame): The DataFrame to check for duplicates.

    Returns:
    int: The count of duplicate rows.
    """
    duplicate_count = df_copy.duplicated().sum()
    if duplicate_count == 0:
        print("No duplicated rows found")
        return 0  # explicitly return 0 instead of relying on implicit return
    else:
        return duplicate_count


# run dup check func
count_duplicate_rows(df_copy)

# Check for conditional values 
def check_for_conditional_values(df_copy, condition, value):
    """
     This function replace the "-1" values with "nan" 
     so that pandas can use statistical functions accurately on the columns.
    """
    print(f"Checking columns with values {condition} {value}")
    for col in df_copy.columns:
        if df_copy[col].dtype in ["float64", "int64"]:
            if condition == "<":
                matching_values = df_copy[col] < value
            elif condition == "<=":
                matching_values = df_copy[col] <= value
            elif condition == "==":
                matching_values = df_copy[col] == value
            elif condition == ">=":
                matching_values = df_copy[col] >= value
            elif condition == ">":
                matching_values = df_copy[col] > value
            else:
                print("Invalid conditional operator specified")
                return
            # print(matching_values)
            count_matches = matching_values.sum()
        
            if count_matches > 0:
                print(f"{col} has {count_matches} values matching condition {condition} {value}")
            else:
                pass
                # print(f"{col} has no values matching condition {condition} {value}")

#check_for_conditional_values(df, "<", 0)

check_for_conditional_values(df_copy, "==", -1)
# replace -1 with nan

df_copy.replace(-1, np.nan, inplace=True)

# run the check for null values again, now that all the -1 values have been updated to nan
check_null_values(df_copy)

# examine the datatypes of the columns
df_copy.info()

# Look for columns that are categorical
categorical_columns = df_copy.select_dtypes(include=['object', 'category'])
print(categorical_columns)

# Print unique values in the "Date" column
print(df_copy["Date"].unique())

# Print the number of unique values in the "Date" column
print(df_copy["Date"].nunique())

# Print the value counts for the "Date" column
print(df_copy["Date"].value_counts())

# Print the number of unique values in the "type" column
var_type = df_copy["type"].nunique()
print(f"Distinct type count: {var_type}")

# Print the number of unique values in the "region" column
var_region = df_copy["region"].nunique()
print(f"Distinct region count: {var_region}")

# Get unique values, number of unique values, and value counts for a specific column
unique_values = df_copy["region"].unique()
nunique_values = df_copy["region"].nunique()
value_counts = df_copy["region"].value_counts()

print(f"Unique values: {unique_values}")
print(f"Number of unique values: {nunique_values}")
print(f"Value counts:\n{value_counts}")


# look for columns that are numerical
df_copy.select_dtypes(include=['int64'])
df_copy.select_dtypes(include=['float64'])


# check for negative one, < -1, 0

# check_for_negative values(d_copy, "<", 0)

def check_for_negative_values(df_copy):
    """
    This function checks for negative values in a pandas DataFrame
    so that pandas can use statistical functions accurately on the columns.
    """
    for col in df_copy.select_dtypes(include=["float64", "int64"]):
        negative_values = df_copy[col] < 0
        count_negatives = negative_values.sum()
        
        if count_negatives > 0:
            print(f"{col} has {count_negatives} negative values")
        else:
            print(f"{col} has no negative values")
            return  # return if no negative values are found

# Run negative values check
check_for_negative_values(df_copy)

# Convert the "Date" column to datetime format
df_copy["Date"] = pd.to_datetime(df_copy["Date"])

# Get unique years from the "Date" column
years = df_copy["Date"].dt.year.unique()

# Print the number of unique years
print(f"Number of Years: {len(years)}")

# Print the minimum and maximum years
print(f"Min year: {min(years)}")
print(f"Max year: {max(years)}")

# Print the range of years
print(f"Check years: {max(years) - min(years)}")


# copy to a new data file
df_copy.to_csv('HassAvocadoBoard_clean.csv')

0

In [8]:
def check_for_conditional_values(df, condition, value):
    '''
    Display the number of values in each column that matches the provided condition and value.
    Used to identify columns that contain unexpected values e.g. -1 values where the value should be nan 
    e.g check_for_conditional_values(df, "==", -1 ) will print number of records containing "-1"

    Parameters:
    df (pandas.DataFrame): The DataFrame to check for duplicate rows.
    condition:  The condition or operator to be used "<", "<=", "==", ">=", or ">" are valid
    value: The value to be used with the condition. Any integer can be used.

    Returns:
    No return value. The count of values matching the expression per column is printed to the screen.
    "e.g
    '''
    print(f"Checking columns with values {condition} {value}")
    for col in df.columns:
        if df[col].dtype in ["float64", "int64"]:
            if condition == "<":
                matching_values = df[col] < value
            elif condition == "<=":
                matching_values = df[col] <= value
            elif condition == "==":
                matching_values = df[col] == value
            elif condition == ">=":
                matching_values = df[col] >= value
            elif condition == ">":
                matching_values = df[col] > value
            else:
                print("Invalid conditional operator specified")
                return
            # print(matching_values)
            count_matches = matching_values.sum()
        
            if count_matches > 0:
                print(f"{col} has {count_matches} values matching condition {condition} {value}")
            else:
                pass

In [13]:
# looking for negative values, nan, -1, 0 values

# check_for_conditional_values(df, "<", 0)
# check_for_conditional_values(df, "==", -1)
# check_for_conditional_values(df, "==", 0)

Checking columns with values == -1

## 5. Exploratory Data Analysis <a class="anchor" id="chapter5"></a>

## 6. Regression Models <a class="anchor" id="chapter6"></a>

In [ ]:
Model comparisons, evaluations,

## 7. Conclusion <a class="anchor" id="chapter7"></a>